* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

.left-side {
    width: 60%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
<<<<<<< HEAD
    background-image: url('public');
=======
>>>>>>> origin/main
}

.logo img{
    margin-left: 3%;
    margin-top: 3%;
    width: 18%;
}

.top-design {
    position: relative;
    width: 100%;
}

.blue-gradient-container {
    position: absolute;
    top: 0; 
    right: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1;
    opacity: 80%;
}

.blue-gradient {
    width: 100%; 
    height: auto; 
}

.top-linechart {
    position: absolute; 
    z-index: 2; 
}

.bottom-design {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-linechart {
    max-width: 100%;
    height: auto;
}

.right-side {
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.right-side img.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}

.center-glass {
    position: absolute;
    top: 53%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 65%;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 1.5px  );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 3;
}

.welcome-message img {
    height: 100px;
    margin-top: 6%;
    margin-left: 7%;
    margin-bottom: 0;
}

.welcome-message p.welcome-text {
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-family: "Oxygen", sans-serif;
    margin-left: 7%;
    margin-right: 8%;
    text-align: center;
    margin-top: 2%;
}

/* Button Styles */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%; 
}

#get_started {
    padding: 1rem 2rem;
    border: 2px solid #ffffff; 
    border-radius: 10px;
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: normal;
    background-color: #D9D9D9; 
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    font-family: "IBM Plex Mono", monospace;
}

#btn_back {
    position: absolute;
    top: 6px;
<<<<<<< HEAD
    left: 34%;
    right: 0;
    width: 30%;
=======
    left: 32%;
    width: 33%;
>>>>>>> origin/main
    height: 100%;
    background-color: #6092C0; 
    border-radius: 10px;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.button:hover #btn_back {
<<<<<<< HEAD
    opacity: 0.53; 
=======
    opacity: 53%; 
>>>>>>> origin/main
    transform: translate(4px, 4px); 
    border: 1.5px solid white;
}

.button:hover #get_started {
    color: #090808; 
    transform: translate(4px, 4px);
    border-color: #ffffff; 
<<<<<<< HEAD
}

@media (max-width: 768px) {
    .main-container {
        display: inline;
        flex-direction: column;
        overflow: hidden; 
    }

    .right-side {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #000; 
        object-fit: cover;
    }

    .right-side img.background-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.5; 
    }

    .center-glass {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -55%); 
        width: 90%;
        height: 50%;
        display: inline;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 1;
    }

    .welcome-message {
        margin-top: 0; 
        padding-top: 0; 
    }

    .welcome-message img {
        height: 60px;
        margin-bottom: 10px;
        margin-top: 18%;

    }

    .welcome-message p.welcome-text {
        font-size: 19px;
        margin: 0 10%;
        text-align: center;
    }

    .button {
        margin-top: 10%;
    }

    #get_started {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }

    #btn_back {
        top: 8px;
        left: 18%;
        width: 58%;
    }

    .top-linechart,
    .bottom-linechart {
        display: none;
    }
=======
>>>>>>> origin/main
}
